:root {/*custom property variables que se reutilizaran*/
    --primario: #ff69b4;
    --primarriooscuro: #FF1493;
    --secundario: #f0e68c;
    --secundario: #f0fff0;
    --ligthcoral: #fafa;
    --blanco: #fff;
    --negro: #000;
    --beigefondo: #eef0df;
    --pinkcaro: #ffc0cb;
    --Tistle: #d8bfd8;
    --grisclaro: #adb8bb;
    --azulcamarada: #054F77;
    --Rosablanco: #fffafc;
    --Rosapalo: #fef2f8;
    --Rosaclarito: #fedef2;
    --melonrosa: #fdc9e3;
    


    

    --fuentePrincipal: 'Staatliches', cursive;
}

html { /*snipet un Box-sizing para ajustar medidas "paul irish"*/
    html {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 62.5%;
      }
      *, *:before, *:after {
        box-sizing: inherit;
    
      }
}
/*globales*/
body {
    background-color: var(--beigefondo);
    font-size: 1.6rem;
    line-height: 1.5;/*base de la fuente*/    
}
p{/*parrfos*/
    font-family: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;/*añadido martes quitar*/
}
.conternedor {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 2rem;/*añadido verificar si se queda*/
    width: 90%;/*añadido quitar*/

}
h1, h2, h3 {
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem; 
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
/**header*/
.header {
    display: flex;
    justify-content: center;

}

.header__logo {
    margin: 3rem 0;
}
/*Footer*/
.footer {
    background-color: var(--pinkcaro);
    padding: 1rem 0;
    margin-top: 2rem;

}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;

}
/**navegacion*/
.navegacion {
    background-color: var(--blanco);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion__enlace {/*elemento*/
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    font-size: 3rem;
    margin-right: 2rem;
}
                                 
.navegacion__enlace--activo,/*modificador*/
.navegacion__enlace:hover {
    color: var(--negro);
}

/**Grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(25rem,1fr));
    column-gap: 2rem;
    row-gap: 8rem;
    padding: 2rem;
    align-items: start;/*asegura que as argeas comiencen en e mismo nive*/
    /*justify-content: center;/*centra el grid en el eje horizontal*/
    /*align-items: center;/*centra en el eje vertical si es necesario*/
    /*margin: 0 auto;/*centra el grid*/
    margin: 0 auto; 

}
@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(25rem, 1fr));/*para que quedara centrada cambie la especificacion de 250 ,px )*/
        column-gap: 2rem;/*quitar lunes*/
         align-items: start;
        padding: 2rem;
        justify-content: center;/*quitar lunes*/
        margin: 2rem auto;/*quitar lunes*/
    }
}
/**productos*/
.producto {
    background-color: var(--pinkcaro);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;/*clau*/
    align-items: center;/*clau**/
    text-align: center;/*clau*/
    justify-content: space-between;/*clau*/
    border-radius: 1rem; /*añadido lunes quitar*/
    max-width: 25rem; /* Limita el ancho para mantener uniformidad */
    transition: transform 0.3s ease-in-out;
    height: auto;/* Permite ajuste dinámico sin romper la cuadrícula */

}
.producto:hover {
    transform: scale(1.05);/*añadido martes quitar*/
}
.producto__imagen {
    width: 100%;
    height: 20rem;/*clau height mantiene la proporcion*/
    object-fit: cover;/*clau, evita que se deformen*/
    border-radius: 0.8rem;/*añadido martes quitar*/
}
.producto__informacion {

}
.producto__nombre {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
    font-family: var(--fuentePrincipal);
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
    width: 100%;/*quitar luns */

}
.contenedor { /*agregue por que no jalaba el grid con este se centro*/
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;/*centra todo*/
}
/**Grafico de   cuadros**/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;/*quitar lunes*/

}
.grafico--camisas {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../index.html/img/grafico1.png);
}
.grafico--node {
    background-image: url(../index.html/img/grafico2.png);
}
@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
        
    
    }

}

/*Responsive*/
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3,minmax(250px, 1fr));
    }
}
@media (min-width: 480px) {
    .grid{
        grid-template-columns: repeat(3,minmax(150px, 1fr));
    }
    .producto {
        padding: 1rem;
    }
    .producto__nombre {
        font-size: 1.6rem;
    }
    .producto__precio {
        font-size: 2rem;
    }
}
/*nosotros*/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }

}
.nosotros__contenido {

}
.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}
/*nosotros*/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
    
}


.bloque {
    text-align: center;
}
.bloque__imagen {
    width: 100%;
    
}
.bloque__titulo {
    margin: 0;
}